<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="defaultIDPLogin" value="http://localhost:62123/Login" />
    <add key="defaultConnectionString" value="SSOConnection" />
    <add key="ServiceRequestToken" value="C0715816-AAE7-455F-9C66-E0128D2EC309" />
    <add key="LogFileSizeKiloBytes" value="128" />
    <add key="LogVerbose" value="True" />
    <add key="LogFileName" value="PTSSSOService.log" />
    <add key="LogFilePath" value="" />
    <add key="ServiceSigningCertificatePath" value="" />
    <add key="ServiceEncryptingCertificatePath" value="" />
  </appSettings>
  
  <connectionStrings>
    <add name="SSOConnection" connectionString="Data Source=localhost\SQL2016;Initial Catalog=ssos_com;Integrated Security=SSPI;Pooling=True;Connection Timeout=3000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>